
Przyklad.txt
zadanie_B.zip
*.zip
zadanie_B/slo10a.in
zadanie_B/slo10a.out
zadanie_B/slo10b.in
zadanie_B/slo10b.out
zadanie_B/slo3.in
zadanie_B/slo3.out
zadanie_B/slo3ocen.in
zadanie_B/slo3ocen.out
zadanie_B/slo4.in
zadanie_B/slo4.out
zadanie_B/slo4ocen.in
zadanie_B/slo4ocen.out
zadanie_B/slo5.in
zadanie_B/slo5.out
zadanie_B/slo6.in
zadanie_B/slo6.out
zadanie_B/slo7.in
zadanie_B/slo7.out
zadanie_B/slo8a.in
zadanie_B/slo8a.out
zadanie_B/slo8b.in
zadanie_B/slo8b.out
zadanie_B/slo9a.in
zadanie_B/slo9a.out
zadanie_B/slo9b.in
zadanie_B/slo9b.out
